.user-info {
display: flex;
justify-content: center;
color: #777;

}

.user-container {
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: #f1f0ee;
    border-radius: 5px;
    width: 70%; 
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    
}
@media only screen and (max-width: 34.5em) {
    .user-container {
        margin-top: 0;
        width: 90%; 
    }
}

.user_avatar {
    width: 13.5rem;
    height: 13.5rem;
    border-radius: 50%;
    margin-left: 5rem;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
}
@media only screen and (max-width: 34.5em) {
    .user_avatar {
        width: 8.5rem;
        height: 8.5rem;
        
    }

}
.personal-info {
    display:flex;
    align-items: center;
    margin-top: 4rem;
}

.text-sec {
    display: flex;
    flex-direction: column;  
}
.text {
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 34.5em) {
    .text{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;
    }
}
.user_text {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-left: 2rem;   
}

.username{
   margin-left: .5rem;
   font-weight: 400;
   font-size: 1.4rem;
  

}
@media only screen and (max-width: 34.5em) {
.username{
    margin-left: 2rem;
    font-size: 1.5rem;
  
}}
.follow-container {
    display: flex;
    margin-left: 2rem;
    align-items: flex-start;
    
    margin-top: 6rem; 
    
}
@media only screen and (max-width: 34.5em) {
.follow-container {
    display: flex;
    margin-left: 2rem;
    align-items: flex-start;
    margin-top: 0; 
    margin-left: 0;
}}
.following {
    font-weight: 400;
    font-size: 1.4rem;   
}
@media only screen and (max-width: 34.5em) {
    .following span
    {
        margin-left: 2rem;    
    }   
}
.followers, 
.repo{
    font-weight: 400;
    font-size: 1.4rem;
    margin-left: 2rem;
}
.following span,
.followers span,
.repo span {
   font-size: 1.4rem;
   font-weight: 600;
}
@media only screen and (max-width: 34.5em) {
.following span,
.followers span,
.repo span {
   font-size: 1.4rem;
   font-weight: 600;
   margin-bottom: 2rem;
}
}
.repoList {
    margin: 3rem 10rem;
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    justify-items: center;
    
    grid-column-gap: 2.5rem;
    grid-row-gap: 2rem;
}
.repo-box{
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    border-radius: 3px;
    width: 25rem;
    padding: 2.5rem .2rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
    transition: all .2s;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.repo-box:hover {
    transform: translateY(-8px) scale(1.03);
}
.repoName:link,
.repoName:visited{
        text-align: center;
        text-decoration: none;
        color: #777;
        font-size: 1.6rem;
        padding: 1rem .5rem;
        font-weight: 700;      
}
.repoDesc {
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1rem .5rem;
}
.error-msg {
text-align: center;
color: #777;
}